<div class="sports-form">
  <h2>Add Sport</h2>
  <form (submit)="addSport()">
    <label for="id">ID:</label>
    <input type="text" id="id" [(ngModel)]="id" name="id" required />

    <label for="name">Sport:</label>
    <input type="text" id="name" [(ngModel)]="name" name="name" required /><br><br>

    <button type="submit" class="btn btn-primary">Add Sport</button>
  </form>
</div>

<div class="sports-list">
  <h2>Sports List</h2>
  <table border="1">
    <thead>
    <tr>
      <th>ID</th>
      <th>Sport</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let sport of sports; let i = index">
      <td>{{ sport.id }}</td>
      <td>{{ sport.name }}</td>
      <td>
        <button (click)="removeSport(i)" class="remove-btn">Remove</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
