

<div class="button-container">
  <button routerLink="" routerLinkActive="router-link-active" class="list-button">Student List</button>
  <button routerLink="employeelist" routerLinkActive="router-link-active" class="list-button">Employee List</button>
  <button routerLink="fruitlist" routerLinkActive="router-link-active" class="list-button">Fruit List</button>
  <button routerLink="courselist" routerLinkActive="router-link-active" class="list-button">Course List</button>
  <button routerLink="booklist" routerLinkActive="router-link-active" class="list-button">Book List</button>
  <button routerLink="citylist" routerLinkActive="router-link-active" class="list-button">City List</button>
  <button routerLink="movielist" routerLinkActive="router-link-active" class="list-button">Movie List</button>
  <button routerLink="carmodellist" routerLinkActive="router-link-active" class="list-button">Car Model List</button>
  <button routerLink="productlist" routerLinkActive="router-link-active" class="list-button">Product List</button>
  <button routerLink="subjectlist" routerLinkActive="router-link-active" class="list-button">Subject List</button>
  <button routerLink="countrylist" routerLinkActive="router-link-active" class="list-button">Country List</button>
  <button routerLink="sportlist" routerLinkActive="router-link-active" class="list-button">Sport List</button>
  <button routerLink="vegetablelist" routerLinkActive="router-link-active" class="list-button">Vegetable List</button>
  <button routerLink="animallist" routerLinkActive="router-link-active" class="list-button">Animal List</button>
  <button routerLink="toollist" routerLinkActive="router-link-active" class="list-button">Tool List</button>
  <button routerLink="languagelist" routerLinkActive="router-link-active" class="list-button">Language List</button>
  <button routerLink="gamelist" routerLinkActive="router-link-active" class="list-button">Game List</button>
  <button routerLink="softwarelist" routerLinkActive="router-link-active" class="list-button">Software List</button>
  <button routerLink="phonelist" routerLinkActive="router-link-active" class="list-button">Phone List</button>
  <button routerLink="musicplaylist" routerLinkActive="router-link-active" class="list-button">Music Playlist</button>
  <button routerLink="foodmenu" routerLinkActive="router-link-active" class="list-button">Food Menu</button>
  <button routerLink="grocerylist" routerLinkActive="router-link-active" class="list-button">Grocery List</button>
  <button routerLink="classroomlist" routerLinkActive="router-link-active" class="list-button">Classroom List</button>
  <button routerLink="inventorylist" routerLinkActive="router-link-active" class="list-button">Inventory List</button>
  <button routerLink="lecturelist" routerLinkActive="router-link-active" class="list-button">Lecture List</button>
  <button routerLink="stationerylist" routerLinkActive="router-link-active" class="list-button">Stationery List</button>
  <button routerLink="flowerlist" routerLinkActive="router-link-active" class="list-button">Flower List</button>
  <button routerLink="destinationlist" routerLinkActive="router-link-active" class="list-button">Destination List</button>
  <button routerLink="laptoplist" routerLinkActive="router-link-active" class="list-button">Laptop List</button>
  <button routerLink="laptopspecificationslist" routerLinkActive="router-link-active" class="list-button">Laptop Specs List</button>
  <button routerLink="computerhardwarelist" routerLinkActive="router-link-active" class="list-button">Computer hardware List</button>
  <button routerLink="mobileapplist" routerLinkActive="router-link-active" class="list-button">Mobile App List</button>
  <button routerLink="videolist" routerLinkActive="router-link-active" class="list-button">Video List</button>
  <button routerLink="tvshowlist" routerLinkActive="router-link-active" class="list-button">TV Show List</button>
  <button routerLink="furniturelist" routerLinkActive="router-link-active" class="list-button">Furniture List</button>
  <button routerLink="accessorylist" routerLinkActive="router-link-active" class="list-button">Accessory List</button>
  <button routerLink="buildinglist" routerLinkActive="router-link-active" class="list-button">Building List</button>
  <button routerLink="paintinglist" routerLinkActive="router-link-active" class="list-button">Painting List</button>
  <button routerLink="artistlist" routerLinkActive="router-link-active" class="list-button">Artist List</button>
  <button routerLink="composerlist" routerLinkActive="router-link-active" class="list-button">Composer List</button>
  <button routerLink="podcastlist" routerLinkActive="router-link-active" class="list-button">Podcast List</button>
  <button routerLink="exerciselist" routerLinkActive="router-link-active" class="list-button">Exercise List</button>
  <button routerLink="mealplanlist" routerLinkActive="router-link-active" class="list-button">Meal Plan List</button>
  <button routerLink="budgetlist" routerLinkActive="router-link-active" class="list-button">Budget List</button>
  <button routerLink="presentationlist" routerLinkActive="router-link-active" class="list-button">Presentation List</button>
  <button routerLink="tourlist" routerLinkActive="router-link-active" class="list-button">Tour List</button>
  <button routerLink="eventlist" routerLinkActive="router-link-active" class="list-button">Event List</button>
  <button routerLink="developertoolslist" routerLinkActive="router-link-active" class="list-button">Developer Tools List</button>
  <button routerLink="frameworklist" routerLinkActive="router-link-active" class="list-button">Framework List</button>
  <button routerLink="librarylist" routerLinkActive="router-link-active" class="list-button">Library List</button>







</div>

<router-outlet></router-outlet>
